# =========================
# Dependencias
# =========================
node_modules/

# =========================
# Archivos de entorno
# =========================
.env
.env.*

# =========================
# Archivos sensibles (claves / tokens)
# =========================
admin-firebase.json
server/src/admin-firebase.json
server/src/users/authentication/admin_key.json
server/token.json
credentials.json

# =========================
# Archivos JSON permitidos (se "des-ignoran")
# =========================
!package.json
!package-lock.json
!tsconfig.json
!src/resources/infrastructure/schema/countries.json
!src/resources/infrastructure/schema/stack.json
!src/resources/infrastructure/schema/techStack.json

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Regla general
# (Ignora cualquier .json que no esté explícitamente permitido arriba)
# =========================
*.json
